:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --white: #ffffff;
  --dairy: #fcfcfc;
  --font-h1: 56px;
  --font-h2: 36px;
  --font-h3: 20px;
  --font-body: 16px;
  --font-small: 12px;
  --line-height-body: 1.5;
  --line-height-h1: 1.07;
  --letter-spacing-body: 0.32px;
  --letter-spacing-h1: 1.12px;
  --line-height-h2: 1.11;
  --letter-spacing-h2: 0.72px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "DM-Sans", sans-serif;
  background-color: #121212;
  color: #ffffff;
  min-height: 100vh;
}

.about h1 {
  font-weight: 400;
  font-style: Regular;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.56px;
  color: #bea69e;
  width: 100%;
  height: 72px;
  opacity: 1;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid 1px #bea69e;
  border-bottom: solid 1px #bea69e;
  flex-shrink: 0;
  margin: 0;
  padding-top: 24px;
  padding-bottom: 24px;
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.about-h1 {
  display: flex;
  margin-bottom: 80px;
}

@keyframes marqueeLine {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.about h1 span {
  font-weight: 400;
  font-style: Regular;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.56px;
  color: #ffffff;
}

.about-container {
  width: 100%;
  height: 962px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #121212;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.about h2 {
  font-family: DM Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -1.12px;
  color: #ffffff;
  padding-left: 20px;
}

.about h2 span {
  font-family: DM Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -1.12px;
  color: #bea69e;
}

.about .photography {
  width: 335px;
  height: 209px;
  border-radius: 1000px;
}

.about .first-p,
.second-p {
  font-family: DM Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.28px;
  color: #ffffff;
  padding-left: 20px;
}

.ourmentors {
  background-color: #121212;
}

.container {
  max-width: 375px;
  width: 375px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  display: block;
  max-width: 100%;
}

@media (min-width: 768px) {
  .container {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1280px;
    height: 100%;
  }
}

.our_mentors {
  width: 335px;
  height: 100%;
}

@media (min-width: 768px) {
  .our_mentors {
    width: 704px;
    height: 100%;
  }
}

@media (min-width: 1280px) {
  .our_mentors {
    width: 1280px;
    height: 100%;
  }
}

.header_mentors {
  color: #bea69e;
}

.our_header {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.14286;
  letter-spacing: -0.04em;
  color: #fff;
}

@media (min-width: 768px) {
  .our_header {
    font-weight: 500;
    font-size: 48px;
    line-height: 1.125;
    letter-spacing: -0.04em;
    color: #fff;
  }
}

.img_card {
  border-radius: 200px;
  width: 180px;
  height: 180px;
}

@media (min-width: 768px) {
  .our_mentors_images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 610px;
  }
}

@media (min-width: 1280px) {
  .our_mentors_images {
    display: flex;
    flex-direction: row;
    width: 1280px;
  }
}

.card_down {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 4px;
  width: 139px;
  height: 44px;
}

.card_header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  margin-top: -2px;
}

.card_text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 0px;
}

.mentor_img {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
  width: 185px;
  height: 244px;
  margin: 40px;
}

@media (min-width: 768px) {
  .mentor_img {
    display: flex;
    flex-wrap: wrap;
  }
}

/* 
Reviews 
*/

.reviews {
  margin-top: 80px;
  margin-bottom: 80px;
  background-color: black;
  color: var(--white);
}

.reviews-container {
  width: 100%;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.review-card {
  display: block;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  padding: 20px;
  width: 100%;
  max-width: 335px;
  height: 244px;
}

.reviewer-photo {
  color: var(--navy-blue);
  border-radius: 50%;
}

.reviews-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.04em;
  color: white;
  margin: 0;
}

.reviewer-info {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 56px;
}

.reviewer-name {
  font-size: var(--font-h3);
  line-height: 1.2;
}

.reviewer-role {
  font-size: var(--font-small);
  color: rgba(255, 255, 255, 0.5);
  margin-top: 8px;
}

.reviews-list li:nth-child(2) {
  display: none;
}

.review-stars {
  display: flex;

  height: 16px;
  width: 96px;

  gap: 4px;
  margin-top: 4px;
  margin-left: 66px;
}

.icon {
  display: block;
  width: 16px;
  height: 16px;
}

.icon-star2 {
  transform: scale(1.4);
  transform-origin: center;
}

.review-text {
  font-size: 14px;
  line-height: 1.3;
  margin-top: 20px;
}

@media screen and (max-width: 374px) {
  .review-card {
    height: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .reviews {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .reviews-container {
    max-width: 768px;

    padding-left: 32px;
    padding-right: 32px;
    gap: 50px;
  }

  .review-card {
    max-width: 640px;
    height: 196px;
    left: 32px;
    right: 32px;
  }

  .review-stars {
    position: absolute;
    top: 20px;
    right: 20px;
    margin: 0;
    width: auto;
    height: 20px;
    gap: 4px;
  }

  .review-card {
    position: relative;
  }

  .icon {
    width: 20px;
    height: 20px;
  }

  .review-text {
    font-size: 16px;
    line-height: 1.25;
    margin-top: 20px;
  }

  .reviews-title {
    font-size: 48px;
    line-height: 1.125;
    letter-spacing: -0.04em;
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .reviews {
    margin-top: 150px;
    margin-bottom: 150px;
  }

  .reviews-container {
    max-width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
    gap: 50px;
  }

  .reviews-list li:nth-child(2) {
    display: block;
  }

  .reviews-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .review-card {
    max-width: 530px;
    height: 216px;
  }

  .review-stars {
    position: absolute;
    top: 20px;
    right: 20px;
    margin: 0;
    width: auto;
    height: 20px;
    gap: 4px;
  }

  .review-card {
    position: relative;
  }

  .icon {
    width: 20px;
    height: 20px;
  }

  .review-text {
    font-size: 16px;
    line-height: 1.25;
    margin-top: 20px;
  }

  .reviews-title {
    font-size: 48px;
    line-height: 1.125;
    letter-spacing: -0.04em;
  }
}

@media (min-width: 1440px) {
  .reviews {
    margin-top: 150px;
    margin-bottom: 150px;
  }

  .reviews-container {
    max-width: 1440px;
    padding-left: 100px;
    padding-right: 100px;
    gap: 50px;
  }

  .reviews-list li:nth-child(2) {
    display: block;
  }

  .reviews-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .review-card {
    max-width: 610px;
    height: 196px;
  }

  .review-stars {
    position: absolute;
    top: 20px;
    right: 20px;
    margin: 0;
    width: auto;
    height: 20px;
    gap: 4px;
  }

  .review-card {
    position: relative;
  }

  .icon {
    width: 20px;
    height: 20px;
  }

  .review-text {
    font-size: 16px;
    line-height: 1.25;
    margin-top: 20px;
  }

  .reviews-title {
    font-size: 48px;
    line-height: 1.125;
    letter-spacing: -0.04em;
  }
}

.our-courses {
  padding: 40px 16px;
}

.title-description {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 100%;
}

.title-description h2 {
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.04em;
}

.title-description p {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
}

.secondary-color {
  color: rgba(190, 166, 158, 1);
}

.cards ol {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  counter-reset: card;
}

.cards ol li {
  counter-increment: card;
}

.course-card {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(180deg, #060707 0%, #1d1d1d 100%);
  border-radius: 12px;
  padding: 8%;
  position: relative;
  width: 100%;
  max-width: 335px;
  height: 398px;
  display: flex;
  flex-direction: column;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 279px;
  height: 32px;
  gap: 20px;
}

.card-number::before {
  content: counter(card, decimal-leading-zero);
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
  font-weight: 400;
}

.card-icon {
  display: block;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 6px;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.7);
  width: 32px;
  height: 32px;
}

.arrow-top-icon {
  position: relative;
  width: 6.66px;
  height: 6.66px;
  opacity: 1;
  top: -2px;
  left: 9px;
  border-width: 1.3px;
}

.arrow-bottom-icon {
  position: relative;
  width: 10px;
  height: 10px;
  opacity: 1;
  top: -16px;
  left: 5px;
  border-width: 1.3px;
}

.card-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0;
  max-width: 240px;
  margin-bottom: 50%;
}

.card-text {
  font-size: 14px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
  width: 100%;
  max-width: 279px;
  height: 54px;
  font-weight: 400;
  letter-spacing: -0.02em;
}

@media (min-width: 768px) {
  .title-description {
    width: 704px;
    height: 80px;
    margin: 0 auto;
    gap: 58px;
    margin-bottom: 12%;
    flex-direction: row;
  }

  .title-description h2 {
    font-size: 48px;
    line-height: 54px;
    width: 265px;
    height: 54px;
    margin-top: 2%;
  }

  .title-description p {
    font-size: 16px;
    line-height: 20px;
    width: 381px;
    height: 80px;
  }

  .secondary-color {
    color: rgba(190, 166, 158, 1);
  }

  .cards ol {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .course-card {
    width: 704px;
    opacity: 1;
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 279px;
    height: 32px;
    top: 28px;
    left: 28px;
  }
}

@media (min-width: 1280px) {
  .title-description {
    width: 1080px;
    height: 80px;
    margin: 0 auto;
    gap: 410px;
    margin-bottom: 12%;
  }

  .title-description h2 {
    font-size: 48px;
    line-height: 54px;
    width: 265px;
    height: 54px;
    margin-top: 2%;
  }

  .title-description p {
    font-size: 16px;
    line-height: 20px;
    width: 405px;
    height: 80px;
  }

  .secondary-color {
    color: rgba(190, 166, 158, 1);
  }

  .cards ol {
    flex-direction: row;
    justify-content: center;
  }
}

@media (min-width: 1440px) {
  .title-description {
    width: 1240px;
    height: 60px;
    margin: 0 auto;
    gap: 410px;
    margin-bottom: 12%;
  }

  .title-description h2 {
    font-size: 48px;
    line-height: 54px;
    width: 265px;
    height: 54px;
    margin-top: 2%;
  }

  .title-description p {
    font-size: 16px;
    line-height: 20px;
    width: 565px;
    height: 60px;
  }

  .secondary-color {
    color: rgba(190, 166, 158, 1);
  }

  .cards ol {
    flex-direction: row;
    justify-content: center;
  }

  .course-card {
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: linear-gradient(180deg, #060707 0%, #1d1d1d 100%);
    border-radius: 12px;
    padding: 10%;
    position: relative;
    max-width: 400px;
    height: 452px;
    display: flex;
    flex-direction: column;
  }

  .card-icon {
    position: relative;
    display: flex;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 0px;
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.7);
    width: 32px;
    height: 32px;
    left: 15%;
  }

  .arrow-top-icon {
    position: absolute;
    width: 6.66px;
    height: 6.66px;
    opacity: 1;
    top: 35%;
    left: 40%;
    border-width: 1.3px;
  }

  .arrow-bottom-icon {
    position: absolute;
    width: 10px;
    height: 10px;
    opacity: 1;
    top: 35%;
    left: 30%;
    border-width: 1.3px;
  }
}


ul {
  list-style: none;
  padding: 0;
}

a,
p {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
  font-weight: 400;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

a,
p {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
  max-width: 100%;
}

/*
 
Footer

*/

.footer {
  padding: 40px 20px;
  border: 1px solid #ffffff33;
  background-image: url("../images/footer-bg.png");
  background-repeat: repeat;
  background-size: contain;
}

.footer .container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* Logo and Address*/
.footer-logo {
  font-size: 24px;
  font-weight: 700;
}

.address-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.address-list li {
  margin-bottom: 12px;
}

.address-list a {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  vertical-align: middle;
}

.address-list p {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
}

/* Social + Nav Wrapper*/
.footer-links {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
}

.footer-link {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

/* Social */
.social-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.social-list li {
  margin-bottom: 12px;
}

.social-list a {
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0px;
}

/* Navbar */
.footer-nav-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.footer-nav-list li {
  margin-bottom: 12px;
}

.footer-nav-list a {
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0px;
}

/* Form */
.subscribe-form {
  display: flex;
  width: 100%;
  gap: 8px;
}

.form-input {
  flex: 1;
  padding: 14px 16px;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  background-color: #ffffff;
  color: #121212;
}

.submit-btn {
  padding: 14px 24px;
  background-color: #1d1d1d;
  color: #ffffff;
  border-radius: 12px;
  border: none;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0px;
  cursor: pointer;
}

/* Policies & Reserved */
.footer-policy,
.footer-reserved {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
}

.footer-policy p,
.footer-reserved p {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 32px 24px;
  }

  .address-container {
    grid-column: 1 / 2;
  }

  .footer-nav-list a,
  .social-list a {
    white-space: nowrap;
  }

  .footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
    flex-wrap: nowrap;
  }

  .footer-form {
    max-width: 280px;
    justify-self: end;
  }

  .subscribe-form {
    width: 100%;
  }

  .form-input {
    padding: 12px;
    font-size: 14px;
  }

  .submit-btn {
    padding: 12px 20px;
    font-size: 16px;
  }

  .footer-link {
    grid-column: 1 / 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
  }
}

/* Laptop */
@media screen and (min-width: 1280px) and (max-width: 1440px) {
  .footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 48px;
    align-items: start;
  }

  .social-container,
  .footer-nav-container {
    flex: 1;
  }

  .footer-nav-list,
  .social-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
  }

  .footer-form {
    max-width: 300px;
    justify-self: end;
  }

  .subscribe-form {
    width: 100%;
    display: flex;
    gap: 8px;
  }

  .form-input {
    flex: 1;
    padding: 12px 16px;
    font-size: 14px;
  }

  .submit-btn {
    padding: 12px 20px;
    font-size: 16px;
  }

  .footer-link {
    grid-column: 1 / 4;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 96px;
    align-items: start;
    max-width: 1440px;
    margin: 0 auto;
  }

  .address-container {
    max-width: 300px;
  }

  .footer-links {
    display: flex;
    gap: 96px;
  }

  .social-container,
  .footer-nav-container {
    flex: 1;
  }

  .footer-nav-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .footer-form {
    max-width: 340px;
    justify-self: end;
  }

  .subscribe-form {
    display: flex;
    width: 100%;
    gap: 12px;
  }

  .form-input {
    flex: 1;
    padding: 14px 18px;
    font-size: 16px;
  }

  .submit-btn {
    padding: 14px 24px;
    font-size: 18px;
  }

  .footer-link {
    grid-column: 1 / 4;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
}