/* General */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #121212;
  color: #ffffff;
  font-family: "DM-Sans", sans-serif;
  min-height: 100vh;
}

ul {
  list-style: none;
  padding: 0;
}

a,
p {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
  max-width: 100%;
}

/*
 
Footer

*/

.footer {
  padding: 64px 0;
  background-image: url("../images/footer-bg.png");
  background-repeat: repeat;
  background-size: contain;
}

.footer .container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* Logo and Address*/
.address-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-logo {
  font-size: 24px;
  font-weight: 700;
}

.address-list li {
  margin-bottom: 12px;
}

/* Social + Nav Wrapper*/
.footer-links {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

/* Social */
.social-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.social-list li {
  margin-bottom: 12px;
}

/* Navbar */
.footer-nav-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-nav-list li {
  margin-bottom: 12px;
}

/* Form */
.footer-form {
  display: flex;
  width: 100%;
  gap: 8px;
}

.form-input {
  flex: 1;
  padding: 14px 16px;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  background-color: #ffffff;
  color: #121212;
}

.submit-btn {
  padding: 14px 24px;
  background-color: #1d1d1d;
  color: #ffffff;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

/* Policies & Reserved */
.footer-policy,
.footer-reserved {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
}

.footer-policy p,
.footer-reserved p {
  font-size: 12px;
  color: inherit;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .footer {
    padding: 96px 0;
  }

  .container {
    max-width: 704px;
  }

  .footer-form {
    display: flex;
    max-width: 704px;
    margin: 0 auto 40px auto;
  }
}

/* Laptop */
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .footer {
    padding: 96px 0;
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }

  .footer {
    padding: 96px 0;
  }

  .footer-layout {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .address-container,
  .social-container,
  .footer-nav-container,
  .footer-form {
    margin-bottom: 0;
  }

  .footer-form {
    flex: 1;
    max-width: 600px;
  }

  .footer-policy,
  .footer-reserved {
    margin-top: 40px;
  }
}
